<div>
  <h1>Topics</h1>
  <ul>
    <% @topics.each do |t| %>
      <li><%= render t %> <%= link_to "show", t %> <%= link_to "edit", edit_topic_path(t) %></li>
    <% end %>
  </ul>
  <%= link_to "Novo Tópico", new_topic_path %>
</div>